/* Center everything vertically and horizontally */
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 
 /* Stack and center child elements */
 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
 }
 
 
 h1 {
    text-align: center;
    margin-bottom: 20px;
    font: size 36px;
 }
 
 
 
 
 #nextRoundBtn {
    background-color: #4e4d4d;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
 }
 
 
 #nextRoundBtn:hover {
    background-color: #bbb;
    border-radius: 10px;
 }
 
 
 #guessInput {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.2em;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
 }
 
 
 #guessBox:focus {
    outline: none;
    border-color: #ffffff;
 }
 
 
 #guessBox {
   color: white;
   background-color: #333;
   border: 1px solid #fff;
   border-radius: 5px;
   padding: 10px;
   font-size: 1.2em;
   width: 80%;
   max-width: 400px;
   text-align: center;
 }
 
 
 
 #guessInput:disabled {
    background-color: #BBB;
    border-radius: 15px;
    cursor: not-allowed;
 }
 
 
 
 
 /* Tile feedback boxes */
 #tileBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
  }
   .tile {
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: rgb(8, 2, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
  }
   .row {
    display: flex;
  }
   .correct {
    background-color: green;
  }
   .close {
    background-color: rgb(255, 0, 0);
  }
   .wrong {
    background-color: gray;
  }
   /* Guess results list */
  #results {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
   #results li {
    font-size: 18px;
    margin-top: 5px;
    color: white;
  }
 
 
  .grid {
    display: grid;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
   .grid-box {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1b1919;
    color: white;
  }
  
 